# .NET
**/bin/
**/obj/
**/.vs/

# Angular
**/node_modules/
**/dist/
**/.angular/

# Visual Studio
*.user
*.suo

# Angular compiled output
**/tmp/
**/out-tsc/
**/bazel-out/

# Logs
*.log
npm-debug.log
yarn-error.log
testem.log

# IDEs
**/.idea/
**/.history/
**/.vscode/

# Coverage
**/coverage/

# Misc
**/.sass-cache/
.DS_Store
Thumbs.db