<div class="container">
    <h2 class="mb-3"> Detalles de compania</h2>
    <div class="card">
        <div class="card-body">
            <p>
                <strong>RNC: </strong>
                {{ company.id }}
            </p>
            <p>
                <strong>Nombre: </strong>
                {{ company.name }}
            </p>
            <p>
                <strong>Nombre comercial: </strong>
                {{ company.commercialName }}
            </p>
            <p>
                <strong>Categoria: </strong>
                {{ company.category }}
            </p>
            <p>
                <strong>Esquema de pago: </strong>
                {{ company.paymentScheme }}
            </p>
            <p>
                <strong>Estado: </strong>
                {{ company.state }}
            </p>
            <p>
                <strong>Actividad economica: </strong>
                {{ company.economicActivity }}
            </p>
            <p>
                <strong>Rama gubernamental: </strong>
                {{ company.gubernamentalBranch }}
            </p>
        </div>
    </div>
</div>>
